/** UTILITY CLASSES **/
/* Displays */
.none{display: none;}
.block{display: block;}
.inline-block{display: inline-block;}
.grid{display: grid;}
.flex{display: flex;}

.mainFont{font-family: $mainFont;}

/*** COLORS CLASSES ***/
// create backround color classes
.bg {
    @each $key, $value in $colors-map {
        &-#{$key} {
         background-color: $value;
         color: #ffffff;  
       }
      }
    }
.bg-green {
    @each $key, $value in $colors-map-green {
        &-#{$key} {
         background-color: $value;
         color: #ffffff;  
       }
      }
}
// Color Classes
.green {
    @each $key, $value in $colors-map-green {
        &-#{$key} {
         color: $value; 
       }
      }
}

/* Text classes */
.tac{text-align: center;}
.tar{text-align: right;}
.tal{text-align: left;}

/* Padding */
.myp-50{
    padding: 50px;
}

/* Widths VW */
.width-80{width: 80vw;}

/* Margins */
.m-auto{margin: auto;}
.mtx-50{margin-top: 50px;}